.logo{
    font-size:2.2rem;
}

a{
    color:var(--romancoffee);
    transition: .5s ease;

}
a:hover{
    color:var(--harvestgold);
}
a:link{
    text-decoration: none;
}

 .navbar a{
    margin:0;
    font-size:1.9rem;
    padding:1rem;
    text-decoration:none;
    color:var(--romancoffee);
    transition:.5s ease;
}
.navbar a:hover{
    color:var(--harvestgold);
    text-decoration:underline var(--harvestgold);
}
ul{
    list-style-type: none;
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;                                                                               
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: transparent;
  position: sticky;
  top:0;
}
.menu-toggle {
  display: none;
  font-size: 24px;
  cursor: pointer;
  color: var(--romancoffee);
}

/* Responsive */
@media screen and (max-width: 768px) {
  .navbar ul {
    position: absolute;
    flex-direction: column;
    display: none;
    height:100vh;
    width: 250px;
    right: 0;
    top: 0;
    background-color:rgba(--mirage,.5); 
    backdrop-filter: blur(10px);
    opacity: 100px;
    border-radius: 8px;
    align-items: flex-start;
    justify-content: flex-start;    
  }

  .navbar.active ul {
    display: flex;
  }

  .menu-toggle {
    font-size: 2rem;
    font-weight: bold;
    display: block;
    align-self: center;
    margin-left: auto;
    margin-right: 0;
    z-index: 999;
  }
}
@media screen and (max-width: 450px){
    .navbar ul {
    position: absolute;
    flex-direction: column;
    display: none;
    height:100vh;
    width: 100%;
    right: 0;
    top: 0;
    background-color:rgba(--mirage,.5); 
    backdrop-filter: blur(10px);
    opacity: 100px;
    border-radius: 8px;
    align-items: flex-start;
    justify-content: flex-start;    
    gap: 25px;
  }

  .navbar.active ul {
    display: flex;
  }

  .menu-toggle {
    font-size: 2rem;
    font-weight: bold;
    display: block;
    align-self: center;
    margin-left: auto;
    margin-right: 0;
    z-index: 999;
  }
  .navbar a{
    color: var(--Muesli);
  }
}