<header class="header">
    <a routerLink="/" class="logo">Christian</a>
    <div class="menu-toggle" (click)="toggleMenu()">{{ menuOpen ? '✖' : '☰'}} </div>
    <nav class="navbar" [ngClass]="{ 'active': menuOpen }">
        <ul>
            <li>
                <a [routerLink]="['.']" fragment ="home">Home</a>
            </li>
            <li>
                <a [routerLink]="['.']" fragment ="about">About</a>
            </li>
            <li>
                <a [routerLink]="['.']" fragment ="experience">Experience</a>
            </li>
            <li>
                <a [routerLink]="['.']" fragment ="projects">Projects</a>
            </li>
            
        </ul>
    </nav>
</header>