<header class="header">
    <a routerLink="/" class="logo">Christian</a>
    <div class="menu-toggle" (click)="toggleMenu()">{{ menuOpen ? '✖' : '☰'}} </div>
    <nav class="navbar" [ngClass]="{ 'active': menuOpen }">
        <ul>
            <li>
                <a routerLink="/">Home</a>
            </li>
            <li>
                <a routerLink="/About">About</a>
            </li>
            <li>
                <a routerLink="/Experience">Experience</a>
            </li>
            <li>
                <a routerLink="/Projects">Projects</a>
            </li>
        </ul>
    </nav>
</header>