@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root{
    --mirage:#151723;
    --harvestgold:#e6b077;
    --romancoffee:#785e4c;
    --nero:#333;
    --Muesli:#Aa7f5d;
    --black:#000;
    --white:#FFF;
}
html{
    height:100dvh;
    overflow-x: hidden;
}
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
}
.logo{
    font-size:2.2rem;
}
body{
    min-height:100%;
    padding:0;
    margin:0;
    background-color:var(--mirage);
    background-size:cover;
 }
a{
    color:var(--romancoffee);
    transition: .5s ease;

}
a:hover{
    color:var(--harvestgold);
}
 a:link{
    text-decoration: none;

 }
 /*
 About  ME SECTION!!!!!!
 */
 .aboutme{
    height:100dvh;
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center; 
    font-size:1.5rem;
 }
 .aboutme h1{
    color:var(--romancoffee);
 }
 .aboutme p{
    color:var(--harvestgold)
 }
 .skill-container{
   display:flex;
   height:100dvh;
 }
 .leftside{
    height:80dvh;
    width:50%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;                                                                                
 } 
 .rightside{
   height:80dvh;
   width:50%;
   display:flex;
   flex-direction:column;
   justify-content:center;
   align-items:center; 
 }                                                              
 .icon{
   display: flex;
   font-size:6rem;
   background:transparent;
   color:var(--romancoffee);
   margin:5%;
   transition: .5s ease;
 }
 .icon i:hover{
    transform: translatex(-30%);
    opacity: 0.8;
 }
 .icon img:hover{
   opacity: 0.5;
 }
 .title{
   color:var(--romancoffee);
   font-size:2rem;
   font-weight:600px;
 }
 .projects{
    height:100dvh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;     
 }
 .header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding: 2rem 9%;
    background: transparent;
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
 }
 .navbar a{
    margin:0;
    font-size:1.9rem;
    padding:1rem;
    text-decoration:none;
    color:var(--romancoffee);
    transition:.5s ease;
}
.navbar a:hover{
    color:var(--harvestgold);
    text-decoration:underline var(--harvestgold);
}
 .text span{
    color:var(--romancoffee);
 }
 .text span:hover{
    color:var(--harvestgold);
 }
 section{
    min-height:100vh;
    padding:10rem 9% 2rem;
 }
 .home{
    display:flex;
    justify-content: center;
    align-items: center;
 }
 .text{ 
    font-size:4rem; 
    color:var(--harvestgold);                                                                           
 }
 .profilepic{
    border:transparent;
    color:var(--mirage);
    outline:none;
    border-radius:50% 50%;
 }
 button{
    border:none;
    display:inline-block;
    padding:1.2rem 2.8rem;
    background:var(--harvestgold);
    border-radius:4rem;
    border-color:var(--harvestgold);
    box-shadow: 0 0 1rem var(--harvestgold);
    font-size:1.4rem;
    color:var(--mirage);
    letter-spacing:.1rem;
    font-weight:600;
    transition: .5s ease;
 }
 button:hover{
    box-shadow:none;
 }
 
ul{
    list-style-type: none;
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;                                                                               
}
footer{
    width:100dvh;
    margin:auto;
    text-align:center;
    display:flex;
    flex-direction: column;                                     
    justify-content: center;
    align-items: center;
}
.socials{
    font-size: 3.1rem;
    text-decoration: none;
}
.fa{
    padding:1rem;
    text-decoration: none;
    transition:.5s ease;
}
.fa:hover{
    color:var(--harvestgold);
}
/* set a color for each icon */
.fa-instagram{
    background: transparent;
    color:#785e4c;
}
.fa-linkedin{
    background:transparent;
    color:#785e4c;
}
.fa-github{
    background:transparent;
    color:#785e4c;
}
.fa-twitter{
    background:transparent;
    color:#785e4c;
}
.copyright{
    color:#785e4c;
    font-size:1.2rem;
}