@import url("https://fonts.google.com/specimen/Poppins?query=popp");
html{
    height:100%;
    overflow:auto;
}
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}
 body{
        min-height:100%;
        padding:0;
        margin:0;
        background-image:url("background.png");
        image-rendering: -webkit-optimize-contrast;
        background-size:cover;
        background-position: center;
        background-repeat:no-repeat;
        background-attachment:fixed;
 }
 .navbar a{
    display:flex;
    margin:50px;
    font-size:45px;
    padding:20px;
    text-decoration: none;
}
 .text{
    color: #e7b077;
    width:73dvh;
    padding-left: 13.5%;
    padding-bottom: 15%;
 }
 .profile{
    padding:12%;
    padding-top:7%;
    margin:10px;
    color:#e7b27b;
    font-size:xx-large;
 }
 .profile-pic{
    padding-top:9%;
    padding-left:46%;
 }
ul{
    list-style-type: none;
    display:flex;
}
footer{
    width:50dvh;
    margin:auto;
    text-align:center;
}
.socials{
    display: flex;
    padding-top:100%;
    padding-left:20%;
    margin: 10px;
    font-size: 45px;
    text-decoration: none;

}
.copyright{
    padding-left:75px;
}
.fa{
    padding:20px;
    text-decoration: none;
}
.fa:hover{
    opacity: 0.7;
}
/* set a color for each icon */
.fa-instagram{
    background: transparent;
    color:#785e4c;
}
.fa-linkedin{
    background:transparent;
    color:#785e4c;
}
.fa-github{
    background:transparent;
    color:#785e4c;
}
.fa-twitter{
    background:transparent;
    color:#785e4c;
}
.copyright{
    color:#785e4c;
}
