@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
html{
    height:100%;
}
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}
 body{
        min-height:100%;
        padding:0;
        margin:0;
        background-image:url("background.png");
        image-rendering: -webkit-optimize-contrast;
        background-size:cover;
        background-position: center;
        background-repeat:no-repeat;
        background-attachment:fixed;
 }
 .skillset{
    height:100vh;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center; 
                                                                                            
 }                                                                                       
.icons{
    padding:10px;
    padding-top:10%;
    margin:0px;
    font-size:60px;
    background:transparent;
    color:#785e4c;
 }
 .icons:hover{
    opacity: 0.7;
 }
 .projects{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;     
 }
 .header{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    padding: 20px 10%;
    background: green;
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    right:0;
 }
 .navbar a{
    margin:0px;
    font-size:25px;
    padding:25px;
    text-decoration: none;
    color:white;
}
 .text{
    color: #e7b077;
    width:73dvh;
    padding-left: 0%;
    padding-bottom: 15%;
 }
 .text p{
    font-size: x-large;
 }
 
 .profile{
    height:100vh;
    display:flex;
    flex-direction: column;
    justify-content:center;     
    padding:13.5%;
    padding-top:19%;
    margin:10px;
    color:#e7b27b;
    font-size:xx-large;
 }
 .profile-pic{
    padding-top:9%;
    padding-left:46%;
 }
ul{
    list-style-type: none;
    display:flex;
}
footer{
    width:100dvh;
    margin:auto;
    text-align:center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.socials{
    font-size: 45px;
    text-decoration: none;

}
.copyright{
    font-size:medium;


}
.fa{
    padding:20px;
    text-decoration: none;
}
.fa:hover{
    opacity: 0.7;
}
/* set a color for each icon */
.fa-instagram{
    background: transparent;
    color:#785e4c;
}
.fa-linkedin{
    background:transparent;
    color:#785e4c;
}
.fa-github{
    background:transparent;
    color:#785e4c;
}
.fa-twitter{
    background:transparent;
    color:#785e4c;
}
.copyright{
    color:#785e4c;
}
