<!-- 
            This is where THE ABOUT SECTION WILL GO!
         -->
<section class="aboutme" id="aboutme">
  <div class="aboutimage">
    <img src="assets/controller.png" height="100%" alt="picture of me" />
  </div>
  <div class="aboutmecontent">
    <h1>👋 About Me</h1>
    <p>
      👋 About Me I'm a 26-year-old Computer Science graduate passionate about
      full-stack development. I love building responsive web apps that combine
      clean design with solid functionality.
    </p>
    <p>
      🎮 Gamer & 🎨 Painter Gaming sharpens my strategy, painting fuels my
      creativity—both shape how I code and design.
    </p>
    <p>
      🚀 Looking to join a team where I can grow, collaborate and build things
      that matter.
    </p>
  </div>
</section>
