section{
    min-height:100%;
    padding:10rem 9% 0rem;
    max-width: 100%;
    display:flex; 
}
.click_text{
    justify-content: center;
    font-size: 3rem;
    font-weight:1000;
    color:var(--romancoffee);
    font-family: "Satisfy";
    text-decoration: underline;
    transition: .5s ease;
    height:1rem;
}
.click_text:hover{
    color:var(--harvestgold);
}
.cards{
    justify-content:center;
    gap:15%;
    align-items: flex-start;
    height:85vh;
    width:100vw;
    
}
img{
    box-shadow: 0 0 25px var(--romancoffee); 
    transition: .5s ease;
}
img:hover{
    box-shadow: 0 0 25px var(--harvestgold);
}
h1{
    font-size:2rem;
    text-align:center;
    padding:5%;
}
@media screen and (max-width:1600px){
    .cards{
        display:grid;
        grid-template-columns: repeat(2, .5fr);
        grid-template-rows: repeat(2, 1fr);
    }
    h1{
        text-align:center
    }
}