<section class="click_text">
    Click Images for Github Repo
</section>
<section class=cards>
    <div class="proj1">
        <h1>Anime Api</h1>
        <a href="https://github.com/madridcm010/AnimeApi" target="_blank">
            <img src="assets/AnimeApi.jpg">
        </a>
    </div>
    <div class="proj2">
        <h1>Astra Game</h1>
        <a href="https://github.com/madridcm010/Astra" target="_blank">
            <img src="assets/Astra.png">
        </a>
    </div>
    <div class="proj3">
        <h1>3D-Renderer</h1>
        <a href="https://github.com/madridcm010/3D-Renderer" target="_blank">
            <img src="assets/3d-renderer.jpg">
        </a>

    </div>
    <div class="proj4">
        <h1>Blog App</h1>
        <a href="https://github.com/madridcm010/Blog-App" target="_blank">
            <img src="assets/Blog-App.jpg">
        </a>

    </div>

</section>