section{
    min-height:100%;
    padding:10rem 9% 2rem;
    max-width: 100vw;
    display:flex; 
}
.click_text{
    justify-content: center;
    font-size: 3rem;
    font-weight:1000;
    color:var(--romancoffee);
    font-family: "Satisfy";
    text-decoration: underline;
    transition: .5s ease;
}
.click_text:hover{
    color:var(--harvestgold);
}
.cards{
    justify-content: center;
    gap:3%;
    align-items: flex-end;
    height:45vh;
}
img{
    box-shadow: 0 0 25px var(--romancoffee); 
    transition: .5s ease;
}
img:hover{
    box-shadow: 0 0 25px var(--harvestgold);
}
h1{
    font-size:2rem;
    text-align:center;
    padding:5%;
}