<section class= "text">
        Experience  
</section>
<section class = "cards">
    <div class="companylogo">
        <h1>
            .NET Developer Intern
        </h1>
    </div>
    <div class="companycontent">
        <h3>Blue Cross and Blue Shield of NC</h3><h4>May 2025 - July 2025</h4>
        <p>• Interned on a 14-member team rebuilding a C# App into a Responsive and Scalable Angular Web-App</p>
        <p>• Accepted DAT files from the MySQL database that contained over 4.3 million members personal information</p>
        <p>• Integrated xUnit to allow for unit testing of the Angular components and Swagger for testing .Net APIs </p>
        <p>• Improved performance and usability: Angular app ran 10–15% faster than the original C# console application</p>
    </div>
</section>
