<section class= "text">
    <h1>
        Experience
    </h1>
</section>
<section class = "cards">
    <div class="companylogo">
        <h1>
            .NET Developer Intern
        </h1>
    </div>
    <div class="companycontent">
        <h4>Blue Cross and Blue Shield of NC</h4><h5>May 2025 - July 2025</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum molestias exercitationem vero obcaecati aliquam error, sequi doloribus aliquid magnam quibusdam, accusamus dolor corporis, deleniti qui nesciunt. Autem eligendi obcaecati magni.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex inventore aliquam eos debitis repellendus corporis, a facere ipsum amet itaque nihil iste cum doloremque molestiae, consequuntur repellat quos quae tempore.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic odio temporibus nam non provident necessitatibus possimus suscipit reiciendis molestiae, officia, animi minima nostrum. Veritatis rerum, laborum quibusdam saepe quod reiciendis.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta facilis rem ab cumque quos cupiditate delectus non ad quas, molestias, corporis repellendus in tempore libero dolores at culpa atque praesentium.</p>
    </div>
</section>
