section {
    min-height: 100%;
    padding: 10rem 9% 2rem;
    max-width: 100vw;
    display: flex;
    justify-content: flex-start;
}

.cards {
    height: 100vh;
}

.text {
    display: flex;
    justify-content: center;
    font-size: 4rem;
    font-weight: 1000;
    color: var(--romancoffee);
    transition: .5s ease;
    text-decoration: underline;
    font-family:"Satisfy";
}

.text:hover {
    color: var(--harvestgold);
}

.companylogo {
    height: 28vh;
    font-size: 1.2rem;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: var(--romancoffee);
    overflow-x: hidden;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 50px var(--harvestgold);
}

.companylogo h1 {
    font-size: 2.5rem;

}

.companycontent {
    height: 28vh;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: var(--harvestgold);
    opacity: 85%;
    box-shadow: 0 0 50px var(--Muesli);
}

p {
    font-size: 1.4rem;
}