/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root{
    --mirage:#151723;
    --harvestgold:#e6b077;
    --romancoffee:#785e4c;
    --nero:#333;
    --Muesli:#Aa7f5d;
    --black:#000;
    --white:#FFF;
}
html{
    
    overflow-x: hidden;
    scroll-behavior: smooth;
}
*{
    padding:0%;
    margin:0%;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
}
body{
    
    padding:0%;
    margin:0%;
    background-color:var(--mirage);
    background-size:cover;
   
 }
