<section class="home">
  <div class="text">
    <h6><span>Hello,</span> my <span>name</span> is:</h6>
    <h2>Christian Madrid</h2>
    <h6><span>Full-Stack</span> Developer<span></span></h6>
    <div class="socials">
      <a
        href="https://www.linkedin.com/in/madridcm010"
        target="_blank"
        rel="noopener noreferrer"
        class="fa fa-linkedin"
      ></a>
      <a
        href="https://github.com/madridcm010"
        target="_blank"
        rel="noopener noreferrer"
        class="fa fa-github"
      ></a>
      <a
        href="https://twitter.com/Madridcm010"
        target="_blank"
        rel="noopener noreferrer"
        class="fa fa-twitter"
      ></a>
      <a
        href="assets/CV.pdf"
        download="ChristianMadrid_CV.pdf"
        target="_blank"
        rel="noopener noreferrer"
        class="btn"
        id="btn"
      >
        Download CV
      </a>
    </div>
  </div>
  <div class="profilepic">
    <img src="assets/mypic.png" height="55%" alt="picture of me" />
  </div>
</section>
